.blog-card {
  width: 100%;
}

.blog-card__img-wrap {
  display: block;
  position: relative;
  aspect-ratio: 367 / 215;
  border-radius: 12px;
  overflow: hidden;
}

.blog-card__info {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.blog-card__info .tag:first-child {
  margin-right: 8px;
}

.blog-card__date {
  margin-left: 24px;
  font-weight: 500;
  font-size: 13px;
  line-height: 26px;
  color: var(--grey);
}

.blog-card__title {
  display: block;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  text-decoration: none;
  color: black;
  margin-top: 14px;
}

.blog-card__title:hover {
  color: #1f5eff;
}

@media (max-width: 991.98px) {
  .blog-card__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin-top: 8px;
  }

  .blog-card__info {
    margin-top: 12px;
  }

  .blog-card__date {
    margin-left: 12px;
  }
}

.blog-card--loading .blog-card__img-wrap {
  background: #e0e0e0;
}

.blog-card--loading .blog-card__title {
  background: #e0e0e0;
  color: #e0e0e0;
  width: 60%;
  line-height: 1.25;
  margin-top: 10px;
  border-radius: 12px;
}
