.blog-content {
  margin-top: 142px;
  margin-bottom: 48px;
}

.blog__info {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.blog__info > :first-child {
  margin-right: 10px;
}

.blog__date {
  font-weight: 500;
  font-size: 13px;
  line-height: 26px;
  margin-left: 18px;
  color: #8b9cca;
}

.blog__title {
  font-weight: bold;
  font-size: 42px;
  line-height: 52px;
  margin-top: 14px;
  margin-bottom: 20px;
  text-align: center;
  padding: 0 200px;
}

.blog__stats {
  margin-top: 20px;
  margin-bottom: 34px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.blog__stats > p {
  font-weight: 500;
  font-size: 13px;
  line-height: 26px;
  color: #8b9cca;
}

.blog__stats > p + p {
  margin-left: 32px;
}

.blog__image {
  display: block;
  position: relative;
  aspect-ratio: 1180 / 515;
  border-radius: 12px;
  overflow: hidden;
}

.blog__content {
  padding: 0 200px;
  margin-top: 50px;
  margin-bottom: 115px;
}

.blog__content p {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.04em;
}

.blog__content img {
  max-width: 100%;
  height: auto !important;
}

@media (max-width: 991.98px) {
  .blog-content {
    margin-top: 96px;
  }

  .blog__title {
    font-size: 22px;
    line-height: 24px;
    padding: 0;
    margin-bottom: 10px;
  }

  .blog__date {
    font-size: 10px;
    line-height: 20px;
  }

  .blog__content {
    padding: 0 16px;
    margin-top: 32px;
    margin-bottom: 60px;
  }

  .blog__content p {
    font-size: 14px;
    line-height: 22px;
  }

  .blog__stats {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .blog__stats > p {
    font-weight: 500;
    font-size: 10px;
    line-height: 22px;
  }

  .blog__stats > p + p {
    margin-left: 12px;
  }

  .blog__image {
    aspect-ratio: 288 / 192;
  }
}
