.blogs-main {
  margin-top: 124px;
}

.blogs {
  margin-bottom: 60px;
}

.blogs-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 62px;
}

.blogs-grid .blog-card:first-child {
  grid-column: span 6;
}

.blogs-grid .blog-card:first-child .blog-card__img-wrap {
  aspect-ratio: 1180 / 435;
}

.blogs-grid .blog-card:first-child .blog-card__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 45px;
}

.blogs-grid .blog-card:first-child .blog-card__info {
  margin-top: 30px;
  margin-bottom: 6px;
}

.blogs-grid .blog-card:nth-child(2),
.blogs-grid .blog-card:nth-child(3) {
  grid-column: span 3;
}

.blogs-grid .blog-card:nth-child(2) .blog-card__img-wrap,
.blogs-grid .blog-card:nth-child(3) .blog-card__img-wrap {
  aspect-ratio: 570 / 290;
}

.blogs-grid .blog-card:nth-child(2) .blog-card__info,
.blogs-grid .blog-card:nth-child(3) .blog-card__info {
  margin-top: 22px;
  margin-bottom: 15px;
}

.blogs-grid .blog-card {
  grid-column: span 2;
}

.load-more {
  display: block;
  margin: 60px auto;
  border: none;
  border-radius: 12px;
  width: 366px;
  height: 75px;

  font-weight: bold;
  font-size: 21px;
  line-height: 36px;
  text-align: center;
  color: var(--blue);
  background: transparent;
  cursor: pointer;
}

.load-more:hover,
.load-more:focus {
  background: var(--light-blue);
}

.load-more__text {
  margin-right: 16px;
}

@media (max-width: 991.98px) {
  .blogs-main {
    margin-top: 100px;
  }

  .blogs-grid {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 38px;
  }

  .blogs-grid .blog-card:first-child {
    grid-column: span 2;
  }

  .blogs-grid .blog-card:first-child .blog-card__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
  }

  .blogs-grid .blog-card:first-child .blog-card__info,
  .blogs-grid .blog-card:nth-child(2) .blog-card__info,
  .blogs-grid .blog-card:nth-child(3) .blog-card__info {
    margin-top: 18px;
    margin-bottom: 8px;
  }

  .blogs-grid .blog-card:nth-child(2),
  .blogs-grid .blog-card:nth-child(3) {
    grid-column: auto;
  }

  .blogs-grid .blog-card {
    grid-column: auto;
  }

  .load-more {
    width: 100%;
    height: 44px;
    margin-top: 20px;
    margin-bottom: 52px;
    font-size: 12px;
    line-height: 36px;
    background: var(--light-blue);
  }

  .load-more .chevron-down {
    width: 10px;
    height: 7px;
  }

  .load-more__text {
    margin-right: 8px;
  }
}

@media (max-width: 767.98px) {
  .blogs-grid {
    grid-template-columns: 1fr;
  }

  .blogs-grid .blog-card:first-child {
    grid-column: auto;
  }

  .blogs-grid .blog-card:first-child .blog-card__img-wrap {
    aspect-ratio: 288 / 192;
  }

  .blogs-grid .blog-card:nth-child(2) .blog-card__img-wrap,
  .blogs-grid .blog-card:nth-child(3) .blog-card__img-wrap {
    aspect-ratio: 288 / 192;
  }
}
