.categories {
  display: flex;
  border-bottom: 1px solid var(--light-grey);
  margin-bottom: 30px;
  overflow: auto;
  overflow-y: hidden;
  position: relative;
}

.category {
  flex-shrink: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  margin: 0 10px;
  padding-bottom: 8px;
  position: relative;
  color: var(--black);
  cursor: pointer;
}

.category:first-child {
  margin: 0 10px 0 0;
}

.category--active {
  color: var(--blue);
  font-weight: bold;
}

.category--active > svg > path {
  fill: var(--blue);
}

.category__underline {
  height: 4px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #ff4aed;
}

@media (max-width: 991.98px) {
  .categories {
    margin-bottom: 14px;
  }
}

@media (max-width: 767.98px) {
  .categories {
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 16px;
  }

  .categories:after {
    content: '';
    padding-right: 6px;
  }
}
