.download-app {
  width: 100%;
  background: #1f5eff;
  padding-top: 36px;
  padding-bottom: 36px;
}

.download-app__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 8px;
}

.download-app__description {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  opacity: 0.66;
  margin-bottom: 30px;
}

.download-app__links {
  display: flex;
  justify-content: center;
}

.download-app__link > svg {
  width: 120px;
  height: 40px;
}

.download-app__link {
  text-decoration: none;
}

.download-app__link:first-child {
  margin-right: 6px;
}

@media (min-width: 767.98px) {
  .download-app {
    padding-top: 55px;
    padding-bottom: 68px;
  }

  .download-app__title {
    font-size: 38px;
    line-height: 36px;
    margin-bottom: 15px;
  }

  .download-app__description {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 34px;
  }

  .download-app__link:first-child {
    margin-right: 10px;
  }

  .download-app__link > svg {
    width: 150px;
    height: 50px;
  }
}
