.editors-modal__section--mobile {
  display: flex;
  justify-content: center;
  background-color: #1f5eff;
  padding: 10px 0;
  border-radius: 90px;
  margin-bottom: 20px;
}

.editors-modal__section--mobile .editors-modal-wrap {
  margin: 0;
}

.editors-modal__section--mobile .editors-modal__button__text {
  color: white;
}

.editors-modal__section--mobile .editors-modal__button > svg > path {
  fill: white;
}

.editors-modal__section--mobile .editors-modal__button > svg > rect {
  fill: #1f5eff;
}

.editors-modal-wrap {
  margin-left: 24px;
}

.editors-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 774px;
  border-radius: 12px;
}

.editors-modal__header {
  position: relative;
  padding-top: 54px;
  padding-left: 33px;
  padding-bottom: 26px;
  background: linear-gradient(86.23deg, #1f5eff 3.42%, #8976ff 95.38%);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.editors-modal__loader {
  padding: 120px 0;
}

.editors-modal__success-message {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.editors-modal__success-message__title {
  margin-top: 12px;
  font-weight: bold;
  font-size: 38px;
  line-height: 36px;
  text-align: center;
  color: #1f5eff;
}

.editors-modal__success-message__description {
  margin-top: 12px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #7e90bf;
}

.editors-modal__background-flowers {
  position: absolute;
  bottom: -14px;
  right: 65px;
}

.editors-modal__close-button {
  position: absolute;
  cursor: pointer;
  top: 14px;
  right: 17px;
}

.editors-modal__close-button > svg > circle {
  fill: rgba(255, 255, 255, 0.22);
}

.editors-modal__close-button > svg > path {
  stroke: white;
}

.editors-modal__body {
  background-color: white;
  padding: 28px 30px 43px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.editors-modal:focus-visible {
  outline: none;
}

.editors-modal__button {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  color: var(--blue);
  cursor: pointer;
}

.editors-modal__button__text {
  margin-left: 8px;
}

.editors-modal__title {
  font-size: 32px;
  line-height: 26px;
  color: white;
}

.editors-modal__desc {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.02em;
}

.editors-modal__error-message {
  color: #ff551f;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.02em;
  margin-top: 12px;
}

.editors-modal__form {
  display: flex;
  flex-direction: column;
}

.editors-modal__textarea {
  margin-top: 17px;
  border: 1px solid #dbdbdb;
  border-radius: 7px;
  min-height: 180px;
  resize: vertical;
  padding: 16px;
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  outline-color: #1f5eff;
}

.editors-modal__input {
  margin-top: 32px;
  border: 1px solid #dbdbdb;
  border-radius: 7px;
  resize: vertical;
  padding: 16px;
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  outline-color: #1f5eff;
}

.editors-modal__submit {
  border: none;
  background: var(--blue);
  border-radius: 90px;
  width: 250px;
  height: 65px;
  font-size: 22px;
  line-height: 36px;
  color: white;
  margin-top: 24px;
  align-self: center;
  cursor: pointer;
}

.editors-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 4;
}

@media (max-width: 991.98px) {
  .editors-modal {
    width: calc(100% - 32px);
  }

  .editors-modal__loader {
    padding: 80px 0;
  }

  .editors-modal__success-message {
    padding: 30px 20px;
  }

  .editors-modal__success-message__title {
    margin-top: 6px;
    font-size: 20px;
    line-height: 26px;
  }

  .editors-modal__success-message__description {
    margin-top: 6px;
    font-size: 14px;
    line-height: 18px;
  }

  .editors-modal__header {
    padding-top: 20px;
    padding-left: 16px;
    padding-bottom: 26px;
    background: linear-gradient(86.23deg, #1f5eff 3.42%, #8976ff 95.38%);
  }

  .editors-modal__body {
    padding: 22px 20px 37px;
  }

  .editors-modal__button > svg {
    width: 16px;
    height: 16px;
  }

  .editors-modal__close-button {
    top: 10px;
    right: 12px;
  }

  .editors-modal__close-button > svg {
    width: 28px;
    height: 28px;
  }

  .editors-modal__background-flowers {
    bottom: -30px;
    right: 20px;
  }

  .editors-modal__background-flowers > svg {
    width: 140px;
  }

  .editors-modal__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
  }

  .editors-modal__desc {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;
  }

  .editors-modal__error-message {
    margin-top: 8px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;
  }

  .editors-modal__textarea {
    margin-top: 13px;
    min-height: 120px;
    padding: 12px;
    font-size: 14px;
  }

  .editors-modal__input {
    margin-top: 16px;
    padding: 12px;
    font-size: 14px;
  }

  .editors-modal__submit {
    width: 100%;
    height: 44px;
    font-size: 14px;
    line-height: 36px;
    margin-top: 16px;
  }
}

@media (min-width: 768px) {
  .editors-modal__section--mobile {
    display: none;
  }
}
