.footer__content {
  display: flex;
  padding-top: 60px;
  padding-bottom: 100px;
}

.footer__logo {
  margin-top: 12px;
  align-self: flex-start;
}

.footer__section--company {
  margin-left: 144px;
  margin-right: 58px;
}

.footer__section--partnership {
  margin-right: 58px;
}

.footer__contacts {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.footer__title {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.0015em;
  color: var(--black);
  margin-bottom: 22px;
}

.footer__link {
  display: block;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.0015em;
  text-decoration: none;
  color: var(--black);
}

.footer__socials {
  display: flex;
  margin-top: 6px;
}

.footer__socials > li {
  margin-right: 12px;
}

.footer__tel {
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  color: var(--black);
  text-decoration: none;
  margin-top: 48px;
}

.footer__address {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.0015em;
  color: var(--black);
  margin-top: 8px;
}

.footer__mail {
  display: block;
  font-size: 16px;
  line-height: 22px;
  color: var(--blue);
  margin-top: 18px;
  text-decoration: none;
}

.footer__copyright {
  font-size: 13px;
  line-height: 18px;
  color: var(--black);
  padding-top: 22px;
  padding-bottom: 44px;
  border-top: 1px solid var(--light-grey);
}

@media (max-width: 991.98px) {
  .footer__content {
    flex-direction: column;
    padding-top: 34px;
    padding-bottom: 16px;
  }

  .footer__section--company {
    position: relative;
    margin: 18px 0 20px;
    padding-top: 18px;
  }

  .footer__section--company:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    border-bottom: 1px solid var(--light-grey);
  }

  .footer__title {
    margin-bottom: 12px;
  }

  .footer__link {
    margin-bottom: 10px;
  }

  .footer__section--partnership {
    margin: 0 0 20px;
  }

  .footer__section--others {
    margin-bottom: 16px;
  }

  .footer__contacts {
    margin-left: 0;
    position: relative;
  }

  .footer__contacts:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    border-bottom: 1px solid var(--light-grey);
  }

  .footer__socials {
    order: 1;
    margin-top: 44px;
  }

  .footer__socials svg {
    width: 44px;
    height: 44px;
  }

  .footer__tel {
    margin-top: 18px;
  }

  .footer__copyright {
    padding-top: 12px;
  }
}
