@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  font-family: 'Manrope', sans-serif;
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

p {
  font-size: 1rem;
}

img {
  border-style: none;
}

ol,
ul {
  list-style: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button {
  font-family: inherit;
}

.container {
  padding: 0 16px;
}

@media (min-width: 575.98px) {
  .container {
    padding: 0 calc(50vw - 270px);
  }
}

@media (min-width: 767.98px) {
  .container {
    padding: 0 calc(50vw - 360px);
  }
}

@media (min-width: 991.98px) {
  .container {
    padding: 0 calc(50vw - 480px);
  }
}

@media (min-width: 1199.98px) {
  .container {
    padding: 0 calc(50vw - 590px);
  }
}
