.header {
  padding: 20px 25px;
  border-bottom: 1px solid var(--light-grey);
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  background: white;
}

.header__logo {
  margin-right: 40px;
}

@media (max-width: 768px) {
  .header .editors-modal-wrap {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .header {
    padding: 20px;
  }

  .header__logo {
    margin-right: 20px;
  }

  .header .header__logo > svg {
    width: 64px;
    height: 20px;
  }
}
