.level-modal-wrap {
  position: relative;
}

.level-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 26px 16px;
  border: none;
  border-radius: 18px;
  max-width: calc(100vw - 32px);
}

.level-modal:focus-visible {
  outline: none;
}

.level-modal__close-button {
  position: absolute;
  cursor: pointer;
  right: 12px;
  top: 14px;
}

.level-modal__close-button > svg {
  width: 28px;
  height: 28px;
}

.level-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 4;
}

.level-modal__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 24px;
}

.level-modal__level-option {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 13px 20px;
}

.level-modal__level-option + .level-modal__level-option {
  border-top: 1px solid #dee4f4;
}

.level-modal__level-option:last-of-type {
  border-bottom: 1px solid #dee4f4;
}

.level-modal__level-option--selected:last-of-type {
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.level-modal__level-option > .check-icon {
  margin-left: auto;
  min-width: 20px;
}

.level-modal__level-option > .check-icon > circle {
  fill: transparent;
  stroke: #e2e8f6;
}

.level-modal__level-content {
  margin-left: 20px;
  padding-right: 20px;
  max-width: 440px;
}

.level-modal__level-option--selected + .level-modal__level-option {
  border-top-color: transparent;
}

.level-modal__level-option--selected {
  background: #e7eeff;
  border-radius: 14px;
  border-top-color: transparent !important;
}

.level-modal__level-option--selected > .check-icon > circle {
  fill: #1f5eff;
  stroke: #1f5eff;
}

.level-modal__level-title {
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
}

.level-modal__level-description {
  color: #7e90bf;
  font-size: 12px;
  line-height: 16px;
}

.level-modal__select-all-levels {
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #1f5eff;
  margin-top: 20px;
}

.level-modal__button {
  display: flex;
  align-items: center;
  background: linear-gradient(86.23deg, #1f5eff 3.42%, #8976ff 95.38%);
  border-radius: 35px;
  border: none;
  padding: 6px 8px;
  cursor: pointer;
  outline: none;
}

.level-modal__button__icon__container {
  position: relative;
  width: 50px;
  height: 20px;
}

.level-modal__button__icon {
  position: absolute;
  left: 0;
  bottom: -9px;
}

.level-modal__button__content {
  margin-left: 8px;
  margin-right: 14px;
}

.level-modal__button__title {
  white-space: pre-wrap;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}

.level-modal__button__icon > svg {
  height: 44px;
}

.level-modal__button__description {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  display: none;
  color: #b0c1ee;
  opacity: 0.88;
}

@media (min-width: 768px) {
  .level-modal {
    padding: 52px 62px 55px 62px;
    max-width: 774px;
  }

  .level-modal__title {
    font-size: 26px;
    line-height: 28px;
    margin-bottom: 38px;
    margin-top: 0;
  }

  .level-modal__level-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 13px 20px;
  }

  .level-modal__level-option--selected {
    border-radius: 14px;
  }

  .level-modal__level-option > .check-icon {
    width: 31px;
    height: 31px;
  }

  .level-modal__level-title {
    font-size: 18px;
    line-height: 26px;
  }

  .level-modal__level-description {
    font-size: 18px;
    line-height: 26px;
  }

  .level-modal__select-all-levels {
    font-size: 18px;
    margin-top: 40px;
  }

  .level-modal__button {
    border-radius: 8px;
  }

  .level-modal__button > svg > .chevron-right__circle {
    fill: #e8efff;
  }

  .level-modal__button__title {
    font-size: 14px;
  }

  .level-modal__button__description {
    display: flex;
    align-items: center;
  }

  .level-modal__button__icon__container {
    width: 50px;
    height: 30px;
  }

  .level-modal__button__icon {
    left: 0;
    bottom: -15px;
  }

  .level-modal__button__icon > svg {
    height: 55px;
  }

  .level-modal__button__content {
    min-width: 94px;
  }

  .level-modal__close-button > svg {
    width: 40px;
    height: 40px;
  }
}
