.search {
  margin-left: auto;
  border: 1px solid #c9d4f2;
  border-radius: 24px;
  padding: 4px 24px;
  font-size: 16px;
  line-height: 26px;
  width: 380px;
  background: url('../public/search-icon.svg') no-repeat calc(100% - 15px) center;
  transition: all 0.3s ease-out;
  outline-color: #1f5eff;
}

.search::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9baddb;
}

.search-title {
  font-weight: bold;
  font-size: 38px;
  line-height: 43px;
  margin-top: 134px;
  text-align: center;
  margin-bottom: 44px;
}

.search-title:after {
  content: '';
  display: block;
  width: 100%;
  margin-top: 45px;
  border-bottom: 1px solid #d7e1fc;
}

.search-title span {
  color: #1f5eff;
}

.search-blogs {
  margin-bottom: 150px;
}

.search-blogs-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 62px;
}

.search--failure {
  margin-top: 80px;
}

.search--failure .search-title {
  margin-top: 20px;
  margin-bottom: 18px;
}

.search--failure .search-title:after {
  content: none;
}

.search-desc {
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 60px;
}

.search--failure .crying-cactus {
  display: block;
  margin: 0 auto;
}

.search--loading {
  margin-top: 134px;
  margin-bottom: 150px;
}

@media (max-width: 991.98px) {
  .search-blogs-grid {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 38px;
  }
}

@media (max-width: 767.98px) {
  .search {
    position: absolute;
    background: url('../public/search-icon--blue.svg') no-repeat calc(100% - 10px) center;
    background-size: 16px 16px;
    right: 20px;
    width: 20px;
    padding: 4px 18px;
    border: none;
  }

  .search:focus {
    width: 100%;
    right: 0;
    background: white url('../public/search-icon.svg') no-repeat 15px center;
    border: none;
    padding: 20px 10px 20px 40px;
    outline: none;
  }

  .search-title {
    font-size: 15px;
    line-height: 20px;
    margin-top: 116px;
    margin-bottom: 20px;
  }

  .search-title:after {
    margin-top: 16px;
  }

  .search-blogs {
    margin-bottom: 60px;
  }

  .search-blogs-grid {
    grid-template-columns: 1fr;
  }

  .search--failure {
    margin-top: 110px;
  }

  .search--failure .search-title {
    margin-top: 20px;
    margin-bottom: 18px;
  }

  .search-desc {
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 30px;
  }

  .search--failure .crying-cactus {
    display: block;
    margin: 0 auto;
    width: 134px;
    height: 110px;
  }

  .search--loading {
    margin-top: 134px;
    margin-bottom: 150px;
  }
}

@media (min-width: 767.98px) {
  .search::-webkit-search-decoration,
  .search::-webkit-search-cancel-button,
  .search::-webkit-search-results-button,
  .search::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}
