.similar-blogs {
  padding: 0 16px;
}

.similar-blogs__slider {
  margin-bottom: 24px;
  padding: 0 16px !important;
}

.similar-blogs__slider .blog-card__info {
  display: none;
}

.similar-blogs__slider .blog-card__title {
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
}

.similar-blogs__controllers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.similar-blogs__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #171312;
}

.swiper-button--prev {
  margin-right: 16px;
}

.swiper-button--next,
.swiper-button--prev {
  cursor: pointer;
}

@media (min-width: 575.98px) {
  .similar-blogs {
    padding: 0 calc(50vw - 270px);
  }

  .similar-blogs__slider {
    padding: 0 calc(50vw - 270px) !important;
  }
}

@media (min-width: 767.98px) {
  .similar-blogs {
    padding: 0 calc(50vw - 360px);
  }

  .similar-blogs__slider {
    margin-bottom: 100px;
    padding: 0 calc(50vw - 360px) !important;
  }

  .similar-blogs__slider .blog-card__title {
    font-size: 22px;
    line-height: 28px;
    font-weight: bold;
  }

  .similar-blogs__controllers {
    margin-bottom: 24px;
  }

  .similar-blogs .blog-card__info {
    display: flex;
  }
}

@media (min-width: 991.98px) {
  .similar-blogs {
    padding: 0 calc(50vw - 480px);
  }

  .similar-blogs__slider {
    padding: 0 calc(50vw - 480px) !important;
  }

  .similar-blogs__title {
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 44px;
    color: #000000;
  }
}

@media (min-width: 1199.98px) {
  .similar-blogs {
    padding: 0 calc(50vw - 590px);
  }

  .similar-blogs__slider {
    padding: 0 calc(50vw - 590px) !important;
  }
}

@media (max-width: 991.98px) {
  .swiper-button--next,
  .swiper-button--prev {
    display: none;
  }
}
