.subscription-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #edf2ff;
  border-radius: 12px;
  padding: 20px 16px;
  margin-bottom: 24px;
}

.subscription-form__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #171312;
}

.subscription-form__description {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #7e90bf;
}

.subscription-form__form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 27px;
}

.subscription-form__error-message {
  color: #cc0000;
  padding: 16px 0;
  font-size: 12px;
}

.subscription-form__reset {
  color: #1f5eff;
  cursor: pointer;
  font-size: 12px;
}

.subscription-form__subscribe-button {
  background: #1f5eff;
  border-radius: 90px;
  color: white;
  border: none;
  padding: 8px 46px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  cursor: pointer;
}

.subscription-form__subscribe-input {
  border: none;
  border-radius: 8px;
  width: 100%;
  padding: 14px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 12px;
  outline-color: #1f5eff;
}

.success-message {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success-message__title {
  margin-top: 4px;
  font-weight: bold;
  font-size: 38px;
  line-height: 36px;
  text-align: center;
  color: #1f5eff;
}

.success-message__description {
  margin-top: 4px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #7e90bf;
}

@media (min-width: 767.98px) {
  .subscription-form {
    align-items: center;
    padding: 40px 32px;
    margin-bottom: 100px;
  }

  .subscription-form__title {
    font-size: 38px;
    line-height: 36px;
    text-align: center;
  }

  .subscription-form__description {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }

  .subscription-form__form-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .subscription-form__subscribe-button {
    font-size: 22px;
    border-radius: 90px;
    padding: 13px 34px;
  }

  .subscription-form__subscribe-input {
    border-radius: 12px;
    margin-right: 15px;
    margin-bottom: 0;
    font-size: 16px;
  }

  .subscription-form__error-message {
    font-size: 16px;
  }

  .subscription-form__reset {
    font-size: 16px;
  }
}

@media (min-width: 991.98px) {
  .subscription-form {
    padding: 40px 230px 48px 230px;
  }
}
