.tag {
  box-sizing: border-box;
  display: inline-block;
  height: 25px;
  padding: 0 14px;
  font-weight: 600;
  font-size: 13px;
  line-height: 25px;
  border-radius: 17px;
}

.tag--solid {
  background: var(--blue);
  color: white;
}

.tag--subtle {
  background: #ecf1ff;
  color: var(--blue);
}

.tag--outline {
  color: var(--blue);
  box-shadow: inset 0 0 0 2px var(--blue);
}

@media (max-width: 991.98px) {
  .tag {
    height: 20px;
    padding: 0 12px;
    font-size: 10px;
    line-height: 20px;
  }
}
